1. For the given input numbers = {2, 4, 6, 8}, use map () function to double all the input numbers and double it again using python program

In [0]:
def mul(n):
    return 2*n
lst=()
lst= list(map(int, input("Enter the elements:").split()))
result=map(mul,lst)
print("Using Map function:",list(result))
for i in range(len(lst)):
    lst[i]=lst[i]*4 
print("Using Multiplication:",lst)

Enter the elements:2 4 6 8
Using Map function: [4, 8, 12, 16]
Using Multiplication: [8, 16, 24, 32]

2.Write the python program to add two lists of input [1,2,3,4,5,6] and [4,6,12,3,2,1] using map and lambda and then perform multiplication for the resultant value off add with the input list [4,2,8,3,2,1]

In [0]:
numbers1 = []
numbers2 = []
numbers1=map(int,input("Enter first list:").split())
numbers2=map(int,input("Enter second list:").split())  
result = map(lambda x, y: x + y, numbers1, numbers2) 
print(list(result))

Enter first list:1 2 3 4 5 6
Enter second list:4 6 12 3 2 1
[5, 8, 15, 7, 7, 7]

3.Get the List of strings as input and list of strings individually as character using map () function using python program.

In [0]:
lstring=list(map(str,input("Enter the list of strings:").split()))
ls=list(map(list,lstring))
print(ls)

Enter the list of strings:Tanmaya CSE E1
[['T', 'a', 'n', 'm', 'a', 'y', 'a'], ['C', 'S', 'E'], ['E', '1']]

4.Write the python program the calculate cube of a number by using def () and lambda () function.

In [0]:
def cube(n):
    return n*n*n
x=int(input("Enter the number:"))
print("By using def():",cube(x))
res=lambda x:x**3
print("By using lambda():",res(x))

Enter the number:3
By using def(): 27
By using lambda(): 27

5.Write the python program to return the numbers divisible by 4 from the input list = [21, 24, 12, 34, 10, 15, 41] using lambda and filter function.

In [0]:
lst=list(map(int,input("Enter the list of numbers:").split()))
divlst=list(filter(lambda x: x%4==0,lst))
print("Numbers divisible by 4:",divlst)

Enter the list of numbers:21 24 12 34 10 15 41
Numbers divisible by 4: [24, 12]

6.Write the python program to get the multiplication and sum from the list of input = [10, 24, 34, 42, 19] using lambda and reduce function.

In [15]:
import functools 
import operator  
lis =input("Enter the list elements:").split()
lst=lis.copy()
for i in range(len(lis)):
    lis[i]=int(lis[i])
for i in range(len(lst)):
    lst[i]=int(lst[i])
print ("The sum of the list elements is : ",end="") 
print (functools.reduce(operator.add,lis)) 
print ("The product of list elements is : ",end="") 
print (functools.reduce(operator.mul,lst))

Enter the list elements:10 24 34 42 19
The sum of the list elements is : 129
The product of list elements is : 6511680

7.Write the python program to add two lists of input [1,2,3,4,5,6] and [4,6,12,3,2,1] using map and lambda and then perform division for each subsequent value in each list and store the resultant value as a list ‘X’ and the ‘X’ each value is modulo with 2 and store it as ‘Y’ list.

In [4]:
from operator import truediv
ls1=input("Enter elements of first list:").split()
ls2=input("Enter elements of second list:").split()
for i in range(len(ls1)):
    ls1[i]=int(ls1[i])
for i in range(len(ls2)):
    ls2[i]=int(ls2[i])
add=list(map(lambda a,b:a+b,ls1,ls2))
print(add)
X =list(map(truediv, ls1,ls2))
print("X list:",X)
Y=list(map(lambda x:x%2,X))
print("Y list:",Y)

Enter elements of first list:1 2 3 4 5 6
Enter elements of second list:4 6 12 3 2 1
[5, 8, 15, 7, 7, 7]
X list: [0.25, 0.3333333333333333, 0.25, 1.3333333333333333, 2.5, 6.0]
Y list: [0.25, 0.3333333333333333, 0.25, 1.3333333333333333, 0.5, 0.0]

8.Write the python program to select the sequence of number less than 2 from the input list = [4, 5, 1, -2,       -3, 7, 9] using filter function.

In [6]:
ls=list(map(int,input("Enter the list:").split()))
lnw=list(filter(lambda x:x<2,ls))
print("New list:",lnw)

Enter the list:4 5 1 -2 -3 7 9
New list: [1, -2, -3]

9.Write the python program to calculate Fahrenheit and Celsius using map () function and print the temperature in Fahrenheit and Celsius.

In [8]:
def calCelsius(F):
    C = ((5.0/9.0)*(F - 32))
    return C 

fah_temp =list(map(float,input("Input list of temperatures in fahrenheit:").split())) 
conv_temp = (map(calCelsius, fah_temp)) 
Cel_lst = list(conv_temp)
print("Fahrenheit List:",fah_temp)
print("Celcius List:",Cel_lst)

Input list of temperatures in fahrenheit:98.5 101 102 203 104
Fahrenheit List: [98.5, 101.0, 102.0, 203.0, 104.0]
Celcius List: [36.94444444444444, 38.333333333333336, 38.88888888888889, 95.0, 40.0]

10.Write the python program to calculate the sequence of the first 11 Fibonacci numbers and filter out first the odd and then the even elements from the sequence of the first 11 Fibonacci numbers.

In [22]:
def Fibonacci(n): 
    if n<0: 
        print("Incorrect input") 
    elif n==1: 
        return 0
    elif n==2: 
        return 1
    else: 
        return Fibonacci(n-1)+Fibonacci(n-2)
lst=[0]*12
for i in range(1,12):
    lst[i]=(Fibonacci(i))
lst.remove(0)
print("Fibonacci sequence:",lst)
even=list(filter(lambda x:x%2==0,lst))
odd=list(filter(lambda x:x%2!=0,lst))
print("Even Fibonacci sequence:",even)
print("Odd Fibonacci sequence:",odd)

Fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
Even Fibonacci sequence: [0, 2, 8, 34]
Odd Fibonacci sequence: [1, 1, 3, 5, 13, 21, 55]